[2016-12-12 08:56] MiroljubA opened #1 "LegacyWrapper has stopped working"
Hi. I am having a problem running a 32bit c++ dll in 64 .net app. This dll is itself wrapper around a small Usb management Win32_api dll however there seems to be a problem with loading my dll.
I have given the WrapperClient full path to dll, tried giving the function name with a classname ("myClass::NameOfTheFunction") and without ("NameOfTheFunction"). Function is static and takes no arguments (

[2016-12-12 23:33] zalintyre commented on #1
Hi,
it seems like you have compiled the Legacy Wrapper for yourself. If so, please ensure that the `LegacyWrapper` project is compiled as 32bit (not AnyCPU) to match your C++ dll.

[2016-12-13 09:55] MiroljubA commented on #1
Hello dsfranzi,
thanks for the quick reply.

The problem above was with the nugget package of Legacy.Wrapper.
I did try to manually build your example, with LegacyWrapper built in x86 and the others (Client and Test) in x64 however then I get the crash message below at Process.Start ("Codefoundry.LegacyWrapper.exe", token);. This was in Win7 x64

  Problem Event Name:	APPCRASH
  Application Name:

[2016-12-13 10:22] MiroljubA commented on #1
In windows10  Legacy.Wrapper doesn't crash but the program just waits at _pipe.Connect();

[2017-02-16 11:22] rjm2k commented on #1
Thanks for this project, I wonder if the issue above is the same as one I found in that the **caller** of your client library needs to be compiled for AnyCpu  as it causes a deserialisation issue in the 32 bit exe host otherwise, my library which called the client was compiled to 64bit so failed with the badimageformat exception in the exe.
Additionally, it seems the library isn't setup to return

[2017-02-17 00:17] zalintyre commented on #1
@MiroljubA can you post some of your code calling the dll?

[2017-02-17 00:18] zalintyre commented on #1
@rjm2k I'll try to include support for ref params.

[2017-02-17 01:59] zalintyre commented on #1
I improved the error handling of the wrapper exe, so that exceptions thrown should be more detailed now. @MiroljubA if there are still unrelated exceptions, feel free to post them here.

Also, ref parameters are possible now, the values in your passed parameters array will get updated.

[2017-02-17 09:11] rjm2k commented on #1
awesome thanks, I'll try to check it out today and replace my local version with your updates.

Any idea how loading the lib each time affects internal state of any dll loaded?  I was wondering it it would be better to create one  WrapperClient   per library to be called and passing the library name into the constructor instead of every time into invoke, that way a library can be loaded once, used

[2017-02-17 15:17] zalintyre commented on #1
I think loading the DLL only once is a good idea. I'll think of a solution that won't break the exising API.

[2017-03-03 17:03] mocaiv commented on #1
create a x64 console application. download legacywrapper through nuget, ran the sample code

 using (var client = new LegacyWrapperClient.Client.WrapperClient("User32.dll"))
            {
                // Make calls providing library name, function name, and parameters
                int x = (int)client.Invoke<GetSystemMetrics>("GetSystemMetrics", new object[] { 0 });
                int y = (i

[2017-03-03 22:51] zalintyre commented on #1
@rjm2k please have a look at LegacyWrapper 2.0 ;)
I think this issue is solved now, but feel free to open a new one if you have more suggestions or encounter any problems.

[2017-03-03 22:51] #1 closed, assigned to nobody

[2017-03-04 17:42] rjm2k commented on #1
Yes already found it thanks, I can confirm that ref Param's and single load of the DLL work perfectly thanks. Just a comment to others that they still might have to compile the client of your library as msil but I haven't verified that after you introduced the common library.

[2017-04-14 09:22] ante75 opened #2 "Problem with Out"
Hello everyone I chiamao Alex,
I'm trying to use WrapperClient but I have a problem
I get an error by doing this:

[code]

ERROR:
System.Runtime.Serialization.SerializationException: 'Il tipo 'TestVideo.H264_DVR_DEVICEINFO' nell'assembly 'TestVideo, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' non è contrassegnato come serializzabile.'

THE PROBLEM IS IN    Out H264_DVR_DEVICEINFO lpDevi

[2017-04-14 09:27] zalintyre commented on #2
From the error message I guess your class `H264_DVR_DEVICEINFO` needs a `[Serializable]` attribute on top. The error message is not related to out parameters.

Kind Regards,
Franz

[2017-04-14 14:47] ante75 commented on #2
Thanks for the help,
I added [Serializable]
Now the mistake became this
System.Runtime.Serialization.SerializationException:
'End of stream reached before the analysis is complete.'

[2017-04-14 14:51] zalintyre commented on #2
Hi,
can you paste some details of the Exception (stacktrace, message, etc)?

[2017-04-15 07:40] ante75 commented on #2
I copied the exception details, can you understand something?

[code]

[2017-04-15 09:32] zalintyre commented on #2
Looking for the HResult code with [this link](https://blogs.msdn.microsoft.com/yizhang/2010/12/17/interpreting-hresults-returned-from-netclr-0x8013xxxx/) tells me that `A mismatch has occurred between the runtime type of the array and the sub type recorded in the metadata.`

So can you check all your type definitions for your delegate match the function in your dll?

[2017-04-15 11:51] ante75 commented on #2
this is the original call:

H264_DVR_DEVICEINFO dvrdevInfo = new H264_DVR_DEVICEINFO();
int nError;
int nLoginID = XMSDK.H264_DVR_Login(ip, port, User, Password, out dvrdevInfo, out nError, SocketStyle.TCPSOCKET);

I can not understand what it refers to the error
COR_E_SERIALIZATION
0x8013150c
A mismatch has occurred between the runtime type of the array and the sub type recorded in the metadata.

[2017-04-19 12:14] zalintyre commented on #2
Have you got a proper API description of your desired function and its parameters at hand?

[2017-04-20 07:41] ante75 commented on #2
I try to find some information

For the moment thank you

[2017-07-31 08:35] rjm2k opened #3 "64 in 32!"
greetings and thanks again for this work, I wonder if you have considered the reverse option, using a 64 bit dll in a 32 bit process?  I will work to amend the code myself but it's nice to have in nuget if you ever get the chance to do it.

thanks

[2017-07-31 10:41] zalintyre commented on #3
If you want to create a pull request, I can create a new nuget package out of it.
I think it should be possible to choose the right wrapper exe from code then (default to the 32bit wrapper).

[2017-08-14 08:53] zalintyre commented on #3
@rjm2k have you started working on a solution already? I'm asking because I came up with a few ideas how to implement that request and I would work on this myself when I get some spare time.

[2017-08-14 10:18] rjm2k commented on #3
Not yet, something else came up.
Thanks

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Franz Wimmer <notifications@github.com>
Sent: Monday, August 14, 2017 9:53:34 AM
To: CodefoundryDE/LegacyWrapper
Cc: rjm2k; Mention
Subject: Re: [CodefoundryDE/LegacyWrapper] 64 in 32! (#3)

@rjm2k<https://github.com/rjm2k> have you started working on a solution already?

[2017-08-21 14:40] zalintyre commented on #3
Hi @rjm2k,

please check out LegacyWrapper 2.1 ;) You can now load 64bit DLLs in a 32bit process (if your OS is 64bit).

Greetings,
Franz

[2017-08-21 17:00] rjm2k commented on #3
Great thanks

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Franz Wimmer <notifications@github.com>
Sent: Monday, August 21, 2017 3:41:09 PM
To: CodefoundryDE/LegacyWrapper
Cc: rjm2k; Mention
Subject: Re: [CodefoundryDE/LegacyWrapper] 64 in 32! (#3)

Hi @rjm2k<https://github.com/rjm2k>,

please check out LegacyWrapper 2.1 ;) You can now load 64bit DLLs in a

[2017-09-07 12:37] djablon opened #5 "Dll path\name in WrapperClient ctor issue"
That was just my mistake

[2017-09-08 10:31] #5 closed, assigned to nobody

[2017-09-27 20:51] zalintyre commented on #3
With #4, I consider this issue resolved.

[2017-09-27 20:52] #3 closed, assigned to nobody

[2017-09-27 21:02] zalintyre opened #6 "Enhance pipe security"
# The Problem

The current implementation uses a named pipe to enable communication between wrapper and client. This is insecure, because a named pipe can be read by anyone who knows its name.

# The (possible) solution

Either there is a way to encrypt traffic going over the pipe (e.g. TLS), or we switch to another (secure) IPC technology.

[2017-09-29 12:59] Kuf commented on #6
Are you wanting to add message validation or full encryption? Is the goal to ensure that the client of the named pipe is authorized to make the calls?

[2017-09-29 17:30] zalintyre commented on #6
I'd like to see full encryption of the pipe, in a way that noone other than client and wrapper have access to the pipe contents. Maybe TLS encryption could do the trick.

Authorization is not key here - the called DLL resides on the same system - so windows should handle this.

[2017-09-30 09:36] zalintyre opened #7 "Improve tests"
Current unit tests in this project test for valid call results with the included test DLL. Tests should be improved to handle edge cases like a missing dll, wrong target architecture, and wrong permissions to execute a call.

There should also be tests if the Wrapper exe terminates correctly in case of a failure.

[2017-10-12 09:01] ssrakesh opened #8 "Deserialization issue"
I am sending private delegate (as shown in Readme) through Invoke function template,
during de-serialization in client, it tries to load my main app assembly and fails.
Any solution to this?

[2017-10-12 10:14] zalintyre commented on #8
Can you share some code and explanation what triggers the exception?

[2017-10-12 14:55] #2 closed, assigned to nobody

[2018-03-13 17:02] deakjahn opened #10 "Callback or event from the DLL?"
Callbacks are not very likely but any chance of an event coming back from the loaded DLL?

[2018-03-13 18:56] zalintyre commented on #10
I don't think I'd like to implement this - it would have a serious impact on the interface design and security. Maybe in a distant future ;)

[2018-03-13 18:56] #10 closed, assigned to nobody

[2018-03-27 10:07] yltsa opened #11 "Multiple parameters,"
Hi, how can I call this function which contains two parameters but just one is ref type:

 sbyte ReadPressure(sbyte pHandle, ref float pPressure);

I would like to get the value out from the pPressure variable.

BR,
Ilkka

[2019-01-10 19:04] Mewriick opened #12 "Nuget version 3.0"
Hello,
will be available version 3.0 in nuget store in near future? Becuase I saw latest commit with good changes wich are not published.

[2019-01-23 13:22] nbadal2111 opened #13 "LegacyWrapper64.exe is not working"
When I am using this ,
using (var client = new WrapperClient(_isfDllPath, TargetArchitecture.Amd64))
                {
                    fileHandle = (uint)client.Invoke<LoadItemStoreA>("LoadItemStoreA", new object[] { FileName });
                }
My application just got stuck. Nothing is happening. I cannot able to debug. As on the new WrapperClient, it just stuck. Please can you suggest us,

[2019-01-30 11:32] zalintyre commented on #13
Can you try to attach a debugger to LegacyWrapper.exe? You should at least see an exception then.

[2019-02-03 15:02] zalintyre commented on #12
I just released LegacyWrapper 3.0 :)

Please try it out and feel free to get in touch when you have any questions or feedback.

[2019-02-03 15:02] #12 closed, assigned to nobody

[2019-02-03 15:02] zalintyre commented on #13
Please try the new version 3.0 and have a look if the issue persists.

[2019-02-03 15:03] zalintyre commented on #8
Please have a look at the new version 3.0 and see if the issue persists.

[2019-02-03 15:04] zalintyre commented on #11
Please have a look at the new release 3.0 and see if it fits your needs.

[2019-02-03 15:04] #7 closed, assigned to nobody

[2019-02-04 08:40] ssrakesh commented on #8
Thanks a lot, I used v 3.0 in my project and got following exceptions

Exception thrown: 'Castle.DynamicProxy.Generators.GeneratorException' in Castle.Core.dll
Exception thrown: 'System.TypeInitializationException' in project.exe
An exception of type 'System.TypeInitializationException' occurred in project.exe but was not handled in user code
The type initializer for 'Project.Settings.NativeOldDll

[2019-02-04 08:48] ssrakesh commented on #8
-Update: The issue was solved by making the interface public.
and it works with my project.
this certainly brings life to old projects stuck with 32bit helper libraries, now we can easily migrate to 64bit.
Thanks a lot for your work.

[2019-02-04 08:49] #8 closed, assigned to zalintyre

[2019-02-04 21:01] zalintyre commented on #8
That's great to hear, thanks! :)

[2019-02-04 21:42] zalintyre commented on #8
I just released a fix that throws a more specific exception when the interface is not public.

[2019-02-22 09:56] Arvidas opened #17 "Int32 GetStr( out String Str) no string out"
Int32 GetStr( out String Str);
Not working, hangs or no Str change.

original:
//[DllImport("x32.dll",
        //   CallingConvention = CallingConvention.StdCall,
        //   CharSet = CharSet.Unicode,
        //   EntryPoint = "GetStr")]
        //public static extern Int32 GetStr(
        //                                        [MarshalAs(UnmanagedType.BStr)] out String Str
        //

[2019-02-22 18:52] zalintyre commented on #17
Can you provide your interface definition and the calling code?

[2019-02-25 16:15] Arvidas commented on #17
[code]

[2019-05-02 03:08] wdstest opened #18 "How to call a ref string function?"
When the native signature is `int MyFunction(BSTR * pszVerificationId)`

With PInvoke I can do something like

[code]

With LegacyWrapper I don't know how to get it to work

[code]

But when I call it with

[code]

I get System.Runtime.Serialization.SerializationException: 'End of Stream encountered before parsing was completed.'

[2019-05-03 16:45] wdstest commented on #17
I am running into a very similar problem, which I logged as "How to call a ref string function?" at https://github.com/CodefoundryDE/LegacyWrapper/issues/18

[2019-05-15 02:23] wdstest opened #19 "Can this be used in IIS asp.net"
I am trying to use this on the web server. I place everything in the site's bin folder, but the page complaint with an exception about file not find in start process. So I place all the file in windows\system32\inetsrv\
Now it the site gives a request timed out exception.

[2019-05-15 16:09] zalintyre commented on #19
You should include all necessary files via nuget package manager, not copying files. system32 is definitely the wrong place for dependencies.

[2019-05-17 02:10] wdstest commented on #19
To move it onto the web server, we use the 'publish' feature of Visual Studio. Then we need to copy the 'published' content into the web server site's bin folder. All the files are there. But it doesn't work.

[2019-05-17 02:43] wdstest opened #20 "getting Pipe is broken exception when running on Windows 7"
I get a System.IO.IOException "Pipe is broken." exception inside PipeServer.cs
LegacyWrapper.Transport.PipeServer::SendCallResponse(CallResult callResult)
{
  _fromatter.Serialze(_pipe,callResult);
}

[2019-07-24 16:22] MrPG8 opened #22 "ASP.NET MVC - The system cannot find the file specified"
I am trying to call a 32-bit DLL from an asp.net mvc website (which is running in a 64-bit application pool), but I keep getting this exception: "The system cannot find the file specified".

I am certain I'm doing something wrong, could you please point me into the right direction?

I'm using the sample code provided:

[code]

Stack trace:
`   at System.Diagnostics.Process.StartWithShellExecuteEx(

[2019-07-25 20:00] zalintyre commented on #22
Which version of LegacyWrapper did you use?

[2019-09-10 08:41] Nordaen opened #23 "Interface type <TFunctions> must be public"
Hi, I'm trying to call an x86 library from x64 application. When I try to create WrapperProxyFactory variable I got this error:

[code]
Using LegacyWrapper 3.0.1.

This is my interface what I try to call (I store it in different file):

[code]

How can I fix that?

[2019-09-15 19:09] zalintyre commented on #23
This is the documentation of the `Type.IsPublic` method, which LegacyWrapper uses to determine if the interface is public:

`true if the Type is declared public and is not a nested type; otherwise, false.`

Does this help you?

[2019-09-17 14:00] Nordaen commented on #23
Thanks to this documentation, I figured out what the problem was. My interface was nested. Thank you.

[2019-09-17 14:00] #23 closed, assigned to nobody

[2019-10-09 19:30] nadir2102 opened #24 "can use LegacyWrapper to do a bridge so that 32 bit app call 64 bit DLL?"
Hi
I'm in Windows 10 64 bit

I have a 32bit .exe app that call a 32bit plugin .dll (maybe written in C++?) an all works ok, but for many reasons I would like to use the same version of the .dll already builded in 64bit architecture. So I already have both 32 and 64 bit of the plugin .dll in the exactly same version - I have 2 .dll files (one X86 and one X64). Of coruse my app (32bit) cannot direct

[2019-10-11 21:32] ElDuderinoBerlin opened #25 "Dynamically define import dll"
Hello,

btw. nice project!
Can i define the directory of the imported dll dynamically?

Regards
Martin

[2019-10-14 18:17] zalintyre commented on #24
You already have two versions of the DLL - why don't you just use the 64bit DLL with the 64bit application?

[2019-10-14 18:23] zalintyre commented on #25
Hello Martin,

that's not possible at the moment. You have to specify the DLL path in the attribute on the interface you provide to the LegacyWrapper.

Kind Regards
Franz

[2019-10-15 06:04] ElDuderinoBerlin commented on #25
Hallo Franz,

ich versuche das selber. Gibt es eine Möglichkeit in WrapperClientInterceptor::Intercept(IInvocation invocation) an die WrapperConfig ranzukommen? Das Dependency-Injection verwirrt mich.
Ich werde auch Assemblies unterstützen, nicht nur Natives, da ich aus Assemblies (VC++.NET) ebenfalls über Prozessgrenzen hinweg Funktionen aufrufen muss.
IntPtr-to-String Marshaling habe ich schon i

[2019-10-15 06:35] maddinthegreat commented on #25
Habs gefunden:

        private static TFunctions CreateProxy()
        {
            var param = new Ninject
                .Parameters
                .ConstructorArgument("WrapperConfig", InjectionKernel.Get<IWrapperConfig>());

            var interceptor = InjectionKernel.Get<IInterceptor>(param);

            IProxyGenerator generator = new ProxyGenerator(new DefaultProxyBuilder());

[2019-10-15 06:43] ElDuderinoBerlin commented on #25
Habs selber geschafft! :-)

        public WrapperClientInterceptor(Type interfaceType, WrapperClient wrapperClient, ILibraryNameProvider libraryNameProvider, IWrapperConfig config)
        {
            Raise.ArgumentNullException.IfIsNull(interfaceType, nameof(interfaceType));
            Raise.ArgumentNullException.IfIsNull(wrapperClient, nameof(wrapperClient));
            Raise.ArgumentNullEx

[2019-10-15 08:12] maddinthegreat commented on #25
Fertig!

[2019-10-16 20:31] zalintyre commented on #25
Stell mir gern einen Pull Request ;)

[2019-10-17 21:53] nadir2102 commented on #24
dear zalintyre, my app is only x86 but - if possible - for various reasons I need to use the 64bit DLL with the 32bit app

this is my dll's:
https://www.dropbox.com/s/ktv86wjrx8wsjz9/BFX.rar?dl=0

[2019-10-23 07:30] zalintyre commented on #24
So if your app is a .NET project, you can use LegacyWrapper.

[2020-01-09 14:47] sharpSteff commented on #25
@maddinthegreat bitte PR machen :)
ich brauch die funktionalität auch!

[2020-01-10 12:24] ElDuderinoBerlin commented on #25
Seid beide nun Mittäter!

[2020-01-10 13:27] sharpSteff commented on #25
@maddinthegreat  erst wenn der PR da is :D

[2020-01-10 13:51] ElDuderinoBerlin commented on #25
@sharpSteff du müsstest den Code ziehen können - bist Kollaborator.

[2020-01-10 17:07] sharpSteff commented on #25
@maddinthegreat gibt es Gründe wieso dein Repo kein offizieller Fork ist ?

[2020-01-10 18:22] ElDuderinoBerlin commented on #25
Wieso Fork? Hab den Code so runtergeladen und modifiziert, dann wieder hochgeladen. Entweder du nimmst das so oder lässt es bleiben!

[2020-01-10 18:41] sharpSteff commented on #25
Naja du hast genau, das gleiche gemacht was ein Fork mit einem Klick gemacht hätte. Nur dass du die gesamte git History verloren hast und du über das repository keinen ssuberen Pull Request mehr auf das upstream Repo machen kannst

[2020-01-10 18:41] sharpSteff commented on #25
Trotzdem danke :)

[2020-01-11 10:11] ElDuderinoBerlin commented on #25
Das ist eine private Ergänzung für ein spezielles Projekt gewesen. Da will ich keine Historie, noch mergen in Zukunft oder sonstwas!
Das ich Dir Stunden an Coden gespart habe (ob Du das selber geschafft hättest, kann ich nicht sagen), kannste als nachträgliches Weihnachtsgeschenk betrachten. Bitte!

PS: Ich mach eben Bilder und benutze noch Papier. Bin eben oldschool. Und manchmal drucke ich mir C

[2020-01-11 10:19] maddinthegreat commented on #25
Ich mach eben Bilder und benutze noch Papier. Bin eben oldschool.

[2020-02-28 16:06] stevetiger03 commented on #22
I also experience the same issue, with version 3.0 (latest code).  My sample app is WinForm, it also raised exception 'The provided interface type <TFunction> must be public'.

[2020-03-02 23:15] zalintyre commented on #22
@stevetiger03 so, is your interface public? ;)
This could also mean that the assembly containing the interface is not visible from your calling code.

[2020-03-03 10:55] MrPG8 commented on #22
Sorry for the late reply, I did not get any notifications until 4 days ago.

As it turns out, the issue was caused by insufficient permissions. So the error message 'The system cannot find the file specified' was pretty accurate. If anyone else runs into issues like this, check your app permissions (and the DLLs). This issue is not caused by LegacyWrapper.

[2020-03-30 09:46] Giacomo-dev-78 opened #27 "File not found System.ComponentModel.Win32Exception"
Hi,

maybe it's a stupid question but i can't figure this out.

i'm getting file not found exception when i try to call WrapperProxyFactory.
From your samples i see that you specify User32.dll that is located in C:\Windows\System32.

My dll is placed there too since it's a driver.

What am i doing wrong?

thank you

[2020-03-30 21:52] zalintyre commented on #27
Hello @Giacomo-dev-78,

can you show me a sample of your code?

Kind regards

[2020-03-31 07:13] Giacomo-dev-78 commented on #27
Hi zalintyre,

thank you for your reply.

let me put a foreword. Im working on a UWP project on 64bit (and windows 10 64bit) and i'm facing an issue with a driver that seems to be 32bit only. When i try to exploit dll methods with dllimport i get a BadImageFormatException. I already tried a lot of workarounds but no luck. that said, i'm attaching that chuck of code.
I already found a wrapper for t

[2020-03-31 16:15] zalintyre commented on #27
Hello @Giacomo-dev-78,

I'm glad your usecase is exactly what LegacyWrapper was built for! :)

You're importing the custom dll `uuirtdrv.dll`. Everything that is not located in `C:\Windows\system32` has to be imported using an absolute path or a path relative to your application executable.

Kind regards

[2020-03-31 16:30] Giacomo-dev-78 commented on #27
Hi zalintyre,

thanks. Can you please explain what you mean for imported in absolute/relative.
Maybe i misunderstood but uuirtdrv.dll is in my C:\Windows\System32 , so i don't understand why it can't  be imported.. I also thought it was an administrator matter, but even starting visual studio in admin mode, that dll is not found.

Thank you for your time.
Kind Regards

[2020-03-31 21:15] zalintyre commented on #27
Hello @Giacomo-dev-78,

it could be possible that only Windows system dll's can be found without the path. Can you try adding the `C:\Windows\system32` path anyways?

[2020-03-31 21:23] zalintyre commented on #27
As I suspected, Windows only loads **known** DLLs from the system32 folder. Please refer to this documentation: https://docs.microsoft.com/en-us/windows/win32/dlls/dynamic-link-library-search-order#search-order-for-desktop-applications

[2020-04-01 07:03] Giacomo-dev-78 commented on #27
Hello @zalintyre

yes, i saw that article. Anyway, with "usual" DllImport the driver dll is found. DllImport attribute seems not to be reserved to system dlls only. I'm starting to think there's something else. Trying with LegacyWrapper instead no dll is found, even those like User32 or other system libraries.

I'll follow your suggestion and try with some specific path.. fingers crossed. Keep you

[2020-04-01 15:16] Giacomo-dev-78 commented on #27
hi @zalintyre ,

kein Glück, i always end in file not found.
I copied the dll in bin
I added the dll in project with content and always copy
I specified [LegacyDllImport("C:\\Windows\\System32\uuirtdrv.dll")]

i'm running out of ideas..

[2020-04-02 08:28] Giacomo-dev-78 commented on #27
Ok, some news.

I tried the same thing in another machine. Now it's all ok.
Console app -> AnyCPU on 64bit OS

LegacyWrapper working like a charm. I can call driver functions as expected.

anyway, i found what is going wrong.
I turned the console app project into a library.
I created a new console app and referenced the library.
When i call the same driver function, WrapperProxyFactory returns the

[2020-04-02 19:40] Giacomo-dev-78 commented on #27
update nr 2..
filenotfoundexception happens when nuget package is not installed on both projects.
i.e.  once i built the library and i reference it from a test console app, that test console app must have legacywrapper nuget package too...otherwise the filenotfoundexception is raised.

now struggling with other issues that are driving me mad...but that's another story.

bye @zalintyre

[2020-04-03 20:17] zalintyre commented on #27
Glad that it works now! Feel free to open another issue if you have questions.

[2020-04-03 20:17] #27 closed, assigned to nobody

[2020-04-09 14:38] dawsidious opened #28 "net core portage"
Hello,

I know that System.Runtime.Remoting is not existing in net core but did someone has alread tried to find an alternative to run legacyWrapper on net core ?

thanks !

[2020-04-17 16:24] dawsidious commented on #28
not required anymore.

[2020-04-17 16:24] #28 closed, assigned to nobody

[2020-04-29 18:53] Amaroq-Clearwater opened #29 "ARM64 Support?"
Does this LegacyWrapper have support for ARM64 systems? And if not, then could it be added in the near future?

[2020-05-03 22:05] zalintyre commented on #29
Hello @Amaroq-Clearwater,

no, currently there is no support for ARM64 in LegacyWrapper. But feel free to hand  in a Pull Request!

Kind regards

[2020-05-13 16:11] gayan-rb opened #30 "System.ComponentModel.Win32Exception: 'The system cannot find the file specified'"
When i tried to run this wrapper using provided configurations i'm getting below error

**System.ComponentModel.Win32Exception: 'The system cannot find the file specified'**

[code]

i have copied unmanaged 32 bit dll into executing bin folder. what was i messing with?

[2020-05-14 03:07] #30 closed, assigned to nobody

[2020-05-14 11:08] gayan-rb opened #31 "return 0x0000000000000000 is value"
it seems works without exception but. When I call the function, as a result, I'm getting 0x0000000000000000 which should be something like 0x0186ad58 what causes the issue?

[code]

[2020-05-15 07:18] zalintyre commented on #31
Then maybe `CallingConvention.Winapi` is not the right thing for you? Did you try other calling conventions?

[2020-05-15 07:38] gayan-rb commented on #31
Yes I have others too. when i tried with `CallingConvention.ThisCall` I'm getting this exception

![image](https://user-images.githubusercontent.com/65019564/82024298-33282900-96ad-11ea-9e72-0978d57edc59.png)

[2020-05-15 10:28] zalintyre commented on #31
You might want to look for the DLL's documentation - they need to state the correct calling convention.

[2020-05-15 12:02] gayan-rb commented on #31
@zalintyre  Thanks for the support and awesome project .. I love it

[2020-05-15 12:37] zalintyre commented on #31
Thank you! :) Were you able to solve your problem?

[2020-05-15 17:50] gayan-rb commented on #31
@zalintyre  actually I'm trying still I couldn't figure it out what's wrong.!!  I posted the same issue on [StackOverflow ](https://stackoverflow.com/a/61792792/301502)and one guy suggested a path so go on. I'm trying to figure it out.  if you get any clue please update the issue I will keep it open. Thank you very mcuh.

[2020-05-20 21:06] zalintyre commented on #31
Is the DLL provided by yourself or a third party library? Are you able to view the library source code?

If the DLL relies on returning pointers to memory addresses, this will not work with legacy wrapper. Because the wrapper will run in a different memory space than your application, you will not be able to access memory the DLL allocates. As someone in that Stackoverflow question suggested, the

[2020-05-21 11:43] gayan-rb commented on #31
It's a third party dll. I'm not able to view source code. they have already written a wrapper only for 32 bit. that's why I'm trying to write a wrapper for 64 bit. I can share the source code that I'm trying if you are interested.

[2020-05-24 09:43] zalintyre commented on #31
As I said in my previous comment, if the DLL is only handing out pointers, that won't work with LegacyWrapper.

[2020-06-03 12:30] #31 closed, assigned to nobody

[2020-08-02 13:40] browloga490 opened #32 "DLLs contain method names that are incompatible with version 3.0.0 + (EntryPointNotFoundException)"
Hi,

I noticed that to reference a method within a DLL, I would have to create an interface that contained a method with the same name as the method in the DLL. This has worked out perfectly for the majority of my DLLs, but no so great for one of them that has entry point names like "_initEth488@4". I believe the "@4" part is causing the problem - I can't create a method with the name "_initEth488

[2020-08-19 21:12] zalintyre commented on #32
Hello,

you could maybe create a pull request to legacy wrapper where you can override the method's name via an attribute on the interface method?

Kind regards
Franz

[2020-08-29 21:42] #24 closed, assigned to nobody

[2020-09-17 10:43] krisha commented on #20
This happens also in Win 10, but might not be shown to the user except on debugging.

InvokeFunction(data) in ProcessMessages should only be called, when data.Status != KeepAliveStatus.Close (or data.ProcedureName is not null).

[2020-10-09 19:27] karthit opened #33 "EntryPointNotFoundException: Unable to find an entry point named '{function}' in DLL '{MyC#32Bit}.dll'"
Hi,

Got **EntryPointNotFoundException** while trying to load c# class 32 bit dll  in  a 64bit console application.

Please help to resolve this.
Thanks,

[2020-10-11 21:09] zalintyre commented on #33
Hello @karthit ,

are you trying to load a .NET class library? LegacyWrapper is designed for loading native DLLs.

Kind regards
Franz

[2021-01-16 01:41] 110-kenichi opened #35 "LegacyWrapper32 will try to load a 64bit Assembly at ProcessMessage()"
LegacyWrapper32 will try to load a 64bit Assembly at ProcessMessages()

LegacyWrapper32 called Deserialize() method in ProcessMessages() , but I think LegacyWrapper32 can't deserialize 64 bit process object because LegacyWrapper32  can't load 64bit Assembly.

==============
PipeServer.cs
        public CallData ReceiveCallRequest()
        {
            CallData callData = (CallData)_formatter.Des

[2021-01-16 01:43] 110-kenichi commented on #35
Do I need to locate both 32bit and 64 bit caller assembly?

[2021-01-16 01:53] 110-kenichi commented on #35
Resoloved.

I changed argument type from enum to primitive. Thanks

[2021-01-16 01:53] #35 closed, assigned to nobody

[2021-01-16 02:29] 110-kenichi opened #36 "Performance issue"
Calling API is too heavy. Are there any tips?

[2021-01-16 23:44] zalintyre commented on #36
Hello,

what do you mean by "too heavy"? Too slow?
This is always relative ;) Can you provide some measurements?

Kind regards
Franz

[2021-01-17 08:05] 110-kenichi commented on #36
Hi,

Too slow...
Caller my app is 64bit and Callee DLL is 32bit.
The DLL is transmitting data via Serial port. But, I don't sure what the DLL is doing.

Do I just provide the "Native 32bit to 32bit calling time AND 64bit to 32 bit wrapper calling time" ?
Please wait for a while...

Thanks

[2021-01-17 08:44] 110-kenichi commented on #36
Bottleneck code

32 to 32 w/ native : 0.0033695s

https://user-images.githubusercontent.com/40394569/104835613-2b2f2180-58eb-11eb-9a29-e350952c71f3.mp4

64 to 32 w/ wrapper : 22.9436008s

https://user-images.githubusercontent.com/40394569/104835618-2ff3d580-58eb-11eb-8c5c-e36530324ee5.mp4

[2021-01-17 18:50] zalintyre commented on #36
Hello,

I'm afraid your code snippet provide not enough information to reproduce your problem.

Can you provide:

* More code samples, including code and / or documentation of the called DLL
* The output of a profiler like dotTrace
* The output of a memory investigation tool like dotMemory

The two measured times imply an increase of computation time with a factor 6800. Because LegacyWrapper runs

[2021-01-18 00:20] 110-kenichi commented on #36
Hi,

Hmm, I would like to confirm you before profiling... you have not a performance issue on your environment?

Thanks

[2021-01-18 00:39] 110-kenichi commented on #36
Hi,

SetRegister() API is a simple VC++ API.

And, marshaling API is here.

I'm not sure the SoundChip->setRegister() API design. But I think there are no problem, because my 32bit app does not have any problem.

So, hot path is here in the SetRegister() API was described above.

![image](https://user-images.githubusercontent.com/40394569/104861532-90c6f080-5973-11eb-85ae-b3f75769f30d.png)

![imag

[2021-01-18 07:47] zalintyre commented on #36
Are you calling the DLL 5000 times in a second?

[2021-01-18 08:40] 110-kenichi commented on #36
Maybe YES.

Retro music player need to access sound control register only 1 byte at a time.

[2021-01-20 15:14] 110-kenichi commented on #36
Hi, almost resolved.

I used version 2.1 to strictly optimize. See the following optimization.

1. Used the Delegate.Invoke() of the FastDelegate.Net lib instead of the Delegate.BeginInvoke()
2. Cached the Delegate to invoke the Delegate.Invoke()
3. Changed all API's parameters to primitive value parameters ( CallData.Type, CallData.Exception member type changed to String type )
4. Used the ZeroFo

[2021-01-20 15:15] #36 closed, assigned to nobody

[2021-01-28 00:46] keithbaenre opened #37 "Example"
I am new to Windows and DLL's.  I have an old 32 bit DLL written in Visual Studio 6 c++.  I need to make a 64 bit version.  I want to use the Legacy Wrapper 3.01 but do not understand where to start or how to do it.

Can someone provide a complete example or instructions?

Thank you in advance.

[2021-01-28 16:22] zalintyre commented on #37
Hello,

LegacyWrapper does not create a DLL for you. You can use it to call old 32bit DLLs when there's no way for you to create a 64bit DLL on your own.

Kind regards
Franz

[2021-01-28 16:46] keithbaenre commented on #37
Thank you Franz,

   Is there an example?

   I have a 32bit DLL.  So is there an example of a program calling LegacyWrapper in order to call the 32bit dLL functions?

   Thank you,

   Keith

    On 01/28/2021 11:22 AM Franz Wimmer <notifications@github.com> wrote:

   Hello,
   LegacyWrapper does not create a DLL for you. You can use it to call old 32bit DLLs when there's no way for you to creat

[2021-01-28 16:56] keithbaenre commented on #37
Hi Franz,

   Maybe it would be easier if I just clearly state my exact problem.

   I have a dll (FTT.DLL) which is 32 bit.  it has 5 functions.

   I need a 64 bit dll exactly the same.

   Do I create a 64 bit dll and then implement the 64 bit dll by calling the legacy wrapper?

   If so, do I use LegacyWrapper to make the server that sits on top of the 32bit DLL?

   If so, is there an example

[2021-01-28 17:35] zalintyre commented on #37
Hello Keith,

if you have the code of yout DLL, just compile it using the 64bit compiler of Visual Studio. There is no need for using LegacyWrapper at all.

Also if you are lucky, you don't need to change any code of your DLL. Just recompile it.

Kind regards
Franz

[2021-01-28 22:51] keithbaenre commented on #37
Hello Franz,

   Thank you for your reply.

   I have the code but it was written using MFC in Visual Studio c++ 6.0.  It also links in some 32bit DLL's which I do not have the source code (although I don't even know if these libraries are needed).

   I tried following an article on microsoft's website to install the Feb 2003 64 bit compiler, but it had me link in some library that did not exist

[2021-01-29 17:03] zalintyre commented on #37
Hello Keith,

in case you cannot modify or recompile your 32bit DLL for whatever reason, LegacyWrapper can help you. Just include the LegacyWrapper dependency in your NuGet configuration and call your 32bit DLL with it (see example in README). This requires your application to be written in C# or VB, C++ is not possible in this case.

Kind regards
Franz

[2021-02-20 19:19] Amaroq-Clearwater commented on #29
I unfortunately lack the programming knowledge for adding ARM64 support myself, so it will be a while before I can create a pull request.

That said, I wonder if it would be possible to also add the ability to emulate 16-bit DLLs... may require dynamic recompilation though.

[2021-02-20 19:20] Amaroq-Clearwater commented on #29
That said, I wonder if it would also be possible to also add support for emulation of 16-bit DLLs...

[2021-05-28 09:39] SebHoffmRS opened #38 "strong names"
Would it be possible to sign the assemblies with a [strong-name](https://docs.microsoft.com/en-us/dotnet/standard/assembly/strong-named)?

Otherwise, we're not able to use this in our project because we sign our assemblies in order to be able to use different versions side by side in the same app domain without conflict.

There's an official [how-to](https://docs.microsoft.com/en-us/dotnet/standar

[2021-09-14 19:59] enrykez79 opened #39 "The system can't find the specify File"
I implement LegacyWrapper but i have a problem when execute it and try to find the dll file:
![IMP02](https://user-images.githubusercontent.com/76719818/133325165-614bb5e1-8a7f-496b-8ed4-9f3ed8ee84f9.JPG)
![IMP01](https://user-images.githubusercontent.com/76719818/133325169-fa3ef8c7-e232-46d3-9322-7248ba492e43.JPG)
![ERROR_LEGACY](https://user-images.githubusercontent.com/76719818/133325170-0ecf2b

[2021-09-15 19:52] zalintyre commented on #39
Hello @enrykez79,

is the application's home directory maybe set to another location?

[2022-01-17 01:20] nanchengjiumeng opened #40 "use for activex object"
A dll with activex object doesn't expose any method and only exposes a class. How do I use this package?

[2022-01-17 20:24] zalintyre commented on #40
LegacyWrapper is designed to be used with classic function based DLLs - there is no support for class libraries at this time, sorry.

If you want, feel free to contribute code to make more features posible.

Kind regards
Franz

[2022-03-30 19:31] covillia commented on #22
I'm not sure I understand what is happening. I'm having the same error message. I call the path directly i.e. "C:\\Blah\\Blahblah\\Dis.dll" Do you mean check the securtiy permissions inthe context menu?

[2022-03-30 20:26] zalintyre commented on #22
What is the actual error message you receive? Is your interface public?

[2022-03-30 20:31] covillia commented on #22
[LegacyDllImport("C:\\CNCWorkbench\\Control\\CAN\\CanApi.dll")]
    public interface IselImport : IDisposable
    {
        [LegacyDllMethod(CallingConvention = CallingConvention.Winapi)]
        uint mctl_Initialize([MarshalAs(UnmanagedType.LPStr)] string szInitFile);
        uint mctl_Exit();
        uint mctl_Reset();
        uint mctl_Reference(uint dwAxis);
        uint mctl_GetStatus(ref MCT

[2022-03-31 15:52] covillia commented on #22
It's the same error. "The System cannot find the file specified."

[2022-03-31 16:13] MrPG8 commented on #22
Well, it was a long time ago, but it pretty much comes down to either the file can not be found (in your case that is not likely as you specified the full path) or insufficient rights. Have you tried running your program as administrator or making sure the file can be accessed by your program or the .dll isn't blocked by windows?

[2022-03-31 17:59] covillia commented on #22
Full Control permision on all folders and files on the Application path an the API path. Running as administrator on the application.

Is there any other way you can think of That windows would block the file?

The API works in DLLImport while on 32-bit, But I have another SDK that is 64-bit

[2022-04-22 18:25] aaronb317 opened #41 "LegacyWrapper freezing when highlighting address."
Hi,

I work for an MSP and one of our clients consistently has a problem with their UPS shipping manager freezing when highlighting an address. They use QuickBooks for everything and they print out shipping labels through quickbooks' UPS shipping manager. When it opens they always highlight the company name and delete it. When they highlight the company name however, it freezes the shipping manage

[2022-04-22 21:57] zalintyre commented on #41
Hi,

this seems like an implementation detail of the QuickBooks software and not related to LegacyWrapper functionality. Kindly reach out to QuickBooks to get the error resolved.

Greetings
Franz

[2022-04-22 21:57] #41 closed, assigned to nobody

[2022-05-25 08:22] laomms opened #42 "cant not package with fody ?"
LegacyWrapper.dll, LegacyWrapper.Common.dll...  can not embedded by fody ?
if embedded by fody,  call exception: The system can't find the specify File

[2022-05-26 16:36] zalintyre commented on #42
Hello @laomms, please raise a bug at fody.

Kind regards

[2022-05-26 16:37] #40 closed, assigned to nobody

[2022-05-26 23:34] laomms commented on #42
I mean these two dlls cannot be packaged by fody into a single file,  must exist in the folder directory ?

[2022-05-27 00:11] laomms commented on #42
when call 64bit unmanaged dll in 32bit application， if have pointer related.it will thrown exception: An IntPtr or UIntPtr with an eight byte value cannot be deserialized on a machine with a four byte word size.

[code]
![pic](https://user-images.githubusercontent.com/23111726/170604496-f250574c-9882-4df8-b347-b60387abba52.png)

[2022-05-27 20:47] zalintyre commented on #42
This issue is not related to LegacyWrapper, please raise an issue at fody.

[2022-05-27 20:58] zalintyre commented on #42
You have declared your out parameter as IntPtr, which is 32 bit wide on your system. The dll will return a pointer that is 64 bit wide. This cannot work this way.

[2022-05-28 00:48] laomms commented on #42
so how can I get the pointer value

![pic](https://user-images.githubusercontent.com/23111726/170803139-44e15e67-908c-4bc3-b090-c36cf82a7a2f.png)

or it need use unsafe code?
[code]

[2022-05-29 20:30] zalintyre commented on #42
As I don't know how your DLL is built, this would be a nice question for StackOverflow.

[2022-05-29 22:44] laomms commented on #42
this is a  windows system dll. call normally under 64 bit assembly:

[code]

[2022-06-01 20:37] zalintyre commented on #42
Have you tried using `long` as type for the out parameter?

[2022-06-04 03:37] laomms commented on #42
I have tried every type.

[2022-08-04 20:58] avkoli opened #43 "Invalid pointer error for void *lp parameter"
I used a 32 bit DLL method that has void *lp parameter. When IntPtr returned by Marshall.StructureToPtr was passed, DLL method returned invalid pointer error.

Solution is to cast structure to byte array, create a pointer in Codefoundry.LegacyWrapper32 process memory and pass this pointer to DLL method.

[code]

[2022-08-22 15:49] nurbles opened #44 "Use LegacyWrapper from a 64bit DLL?"
I'm hoping to create something to stick between an updated-to-64-bit product (A) that will allow it to still use an old 32-bit product (B) that we still use.  Product A expects product B to be a 64-bit DLL, so I'm hoping that I can use LegacyWrapper to produce a DLL (that Product A can call) to act as a 64 bit wrapper for the old 32 bit DLL.  LegacyWrapper sounds perfect ... except I'm a C program

[2022-08-22 17:17] zalintyre commented on #44
I am a little bit confused what product B is... 32bit or 64 bit?

And the general answer is that LegacyWrapper supports 32bit and 64bit Windows DLLs (not .NET class libraries).

[2022-08-22 19:28] nurbles commented on #44
Sorry, "Product B" is "the old 32-bit DLL" that I need to use from a now 64 bit program.  So my plan was to write a 64 bit DLL with the same interface as the old 32-bit DLL had, and have my 64-bit DLL find a way to call the 32-bit, hopefully using LegacyWrapper, but it looked like I needed to code my DLL in C# in order to make the necessary declarations.

However, the more I look the trickier it m

[2022-08-22 20:37] zalintyre commented on #44
Please note that your application must be a managed (say: .NET, written in C# or VB.NET) application to use LegacyWrapper. It sounds like your application is built by some other technology?

However, LegacyWrapper supports different calling conventions like stdcall, cdecl and so on. Just have a look at the `LegacyDllMethod` class.

[2022-08-23 13:20] nurbles commented on #44
I'm trying to build a wedge (my term) to put between the now 64 bit Visual Studio 2022 and our source control package, QVCSPro 3.10 (a 32 bit DLL from 2014).  I have no source for either, but I do have the interface spec from Microsoft for source control provider DLLs, which is plain C.  My 'wedge' could be anything that can present the appropriate C-style interface to Visual Studio and convert th

[2022-08-25 19:45] zalintyre commented on #44
So, if I understood you correctly, both sides of the communication are built as a "native" application (without .NET virtualization). If so, I'm afraid you cannot use LegacyWrapper.

Of course, you can build something with named pipes or other network communication yourself.

Kind regards
Franz

[2022-10-15 19:26] #44 closed, assigned to nobody